:root {
  --rt-bckg: hsl(0, 0%, 8%);
  --main-bckg: hsl(0, 0%, 12%);
  --main-li-bckg: hsl(0, 0%, 20%);
  --li-hvr:  hsl(75, 94%, 57%);
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

/* RESET */
* {
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  position: fixed;
  bottom: 10px;
  font-weight: 100;
}

body {
  background-color: var(--rt-bckg);
  color: white;
  font-size: 0.875rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  padding: 1.25rem;
}

/* MAIN CONTAINER */
.main {
  width: 100%;
  max-width: 24.375rem;
  background-color: var(--main-bckg);
  padding: 2.5rem 1.25rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* IMAGE */
.main img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  object-fit: cover;
}

/* TEXTS */
.main h1 {
  margin-top: 0.9375rem;
  font-size: 1.4rem;
}

.location {
  color: var(--li-hvr);
  font-weight: 600;
  font-size: 0.9rem;
}

.bio {
  font-weight: 400;
  margin: 15px 0;
  text-align: center;
}

/* LINKS */
ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  background-color: var(--main-li-bckg);
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: white;
}

li:hover {
  color: var(--rt-bckg);
  background-color: var(--li-hvr);
  cursor: pointer;
}

li:hover a {
  color: var(--rt-bckg);
}

/* MEDIA QUERY (Mobile) */
@media (max-width: 30em) {
  .main {
    max-width: 95%;
    padding: 1.875rem 0.9375rem;
  }

  .main img {
    height: 4.375rem;
    width: 4.375rem;
  }

  li {
    font-size: 0.9rem;
  }
}

/* MEDIA QUERY (Tablet) */
@media (max-width: 48em) {
  body {
    padding: 1.875rem;
  }
}
